<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "app.shakeit"
        version   = "1.0.0">
    <name>ShakeIt</name>

    <description>
        Meine erste ShakeIt App
    </description>

    <author href="http://www.madein.io" email="hello@madein.io">
        Florian Franke
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.1.0" />

    <icon src="bilder/icon-iphone.png" />
    <icon src="bilder/icon-ldpi.png"  		 gap:platform="android"    gap:density="ldpi" />
    <icon src="bilder/icon-mdpi.png"  		 gap:platform="android"    gap:density="mdpi" />
    <icon src="bilder/icon-hdpi.png"  		 gap:platform="android"    gap:density="hdpi" />
    <icon src="bilder/icon-xhdpi.png"  	     gap:platform="android"    gap:density="xhdpi" />
    <icon src="bilder/icon-iphone.png"   		 gap:platform="ios"        width="57" height="57" />
    <icon src="bilder/icon-ipad.png"             gap:platform="ios"        width="72" height="72" />
    <icon src="bilder/icon-iphone-retina.png"    gap:platform="ios"        width="114" height="114" />
    <icon src="bilder/icon-ipad-retina.png"      gap:platform="ios"        width="144" height="144" />

</widget>